@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.flame-animation {
  position: relative;
  display: inline-block;
  text-shadow: 0 0 10px #ff6b00, 0 0 20px #ff6b00, 0 0 30px #ff6b00;
  animation: flameAnimation 1s infinite alternate-reverse;
}

@keyframes flameAnimation {
  0% {
    text-shadow: 0 0 10px #fffdfb, 0 0 20px #ff6b00, 0 0 30px #efb995;
  }
  100% {
    text-shadow: 0 0 20px #f0e0d5, 0 0 40px #ff6b00, 0 0 60px #f3dccb;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
